.bar{
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  
}
.title{
  width: 100%;
   transform: rotate(-10deg);
   font-size: 2rem;
  &-span{
    transform: translateY(20px);
    font-size: 1.5rem;
  }
}


//SEARCH BTN
.search{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  outline: 0;
  
  @media only screen and (max-width: 940px) {
		transform: translateY(60px);
	}
  &-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
  }

  &-input{
  border: none;
  background: white;
  outline: none;
  float: left;
  margin-left: 0.5rem;
  color: white;
  transition: 0.8s;
  width: 250px;
  text-align: center;
  border-radius: 30px;
  font-size: 1.2rem;
  font-family: $font-family-base;
  position: absolute;
  @media only screen and (max-width: 940px) {
    width: 70px;
	}
  }

  &-icon{
    color: $dark-day-blue;
    &-2{
      position: relative;
      background-color: rgba(255, 255, 255, 0);
      color: rgba(255, 255, 255, 0);
       padding: .2rem;
       border-radius: 0 50px 50px 0;
       z-index: 0;
    }
  }
}
.search:hover{
  border-radius: 50% 0 0 50%;
  height: 1.8rem;
  transition: ease-in 0.15s;

}
.search:hover > .search-input {
  width: 250px;
  padding: 0 7px;
  color:  $dark-day-blue;
  font-size: 1.2rem;
  
}

// .search:hover > .search-icon-2 {
//   color: $dark-day-blue;
//  background-color: transparent;
//  transform: translateX(220px);
// cursor: pointer;
// transition: ease 0.8s;
// }
// .search-input::placeholder{
//   color: rgba(255, 0, 0, 0);
//  }
// .search:hover > .search-input::placeholder{
//  color: $dark-day-blue;
//  transition: ease 0.8s;
// }
// .search:hover > .search-btn {
// display: none;
// transition: all 0.8s;
// }

.search:focus,.search:active,.search:hover{
  
  outline: none 0 !important;
}



//GEO-LOCALIZATION BTN

.geolocal{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
  display: flex;
   text-align: center;
  @media only screen and (max-width: 940px) {
		transform: translateY(60px);
	}
  &-icon{
    color: $dark-day-blue; 
    align-self: center;
    justify-self: center; 
    margin-left: .4rem;

  }
}