*,
*:before,
*:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 62,5%;
  font-family: 'Raleway', sans-serif;
}


// COLORS
$light-blue:#1E213A;
$dark-blue: #100E1D;



