.next{
  width: 6rem;
  height: 10rem;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.285);
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media only screen and (max-width: 940px) {
    width: 5rem;
    margin-left: .5rem;
    margin-right: .5rem;
	}
 
  &-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    transform: rotate(-5deg);
    margin-bottom: 2rem;
  }
  &-img{
    width: 6rem;
    @media only screen and (max-width: 940px) {
		 width: 4rem;
    }
  }
  


}