
// COLORS
$light-day-blue:#03D6FF;
$dark-day-blue: #3766C3;

$dark-night-blue:#061E48;
$light-night-blue: #3766C3;




@font-face {
  font-family:'Brandon-Black';
  src: url("../font/brandon-grotesque-black.woff") format("woff"),
  url("../font/brandon-grotesque-black.ttf") format("ttf")
}

$font-family-base :'Brandon-Black';



