.main{
  display: flex;
  @media only screen and (max-width: 1037px) {
		flex-direction: column;
	}
}


.location{
 
  &-city-text{
  font-size: 4rem;
  transform: translateY(70px);
  @media only screen and (max-width: 940px) {
    transform: translateY(-20px);

   }
  }

  &-temperature{
   
    &-text{
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgba(209, 209, 209, 0.292));
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
      font-size: 14rem;
      @media only screen and (max-width: 940px) {
       font-size: 7rem;
       transform: translateY(-60px);

      }
    }
   &-degree{
     transform: translateY(50px);
     font-size: 3rem;
     @media only screen and (max-width: 940px) {
      font-size: 2rem;
      transform: translateY(-30px);

      
    }
  }
  }
 
}

.weather{


  &-icon{
    width: 40rem;

    @media only screen and (max-width: 1037px) {
      width: 17rem;
      transform: translateY(-90px);
    }
  }

  &-description{
    font-size: 2rem;
    transform: translateY(-50px);
    @media only screen and (max-width: 1037px) {
      font-size: 1.8rem;
      transform: translateY(-120px);
      align-self: center;
    }
  }
}

